<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nanum Gothic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans KR' rel='stylesheet'>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <div class="container" >
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar_brand navbar-brand " href="#">
                <span class="block" >GUARD</span>
                <span class="block" >SIGNATURE</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div  id="navbarNavDropdown" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
                <ul class="navbar-nav">
                    <li class="nav-item active_navbar" >
                        <a class="nav-link" href="#" >서비스 소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >법적효력·보안</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >활용 분야</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >이용 혜택</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >요금 안내</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >고객센터</a>
                    </li>
                </ul>

                <div>
                    <a class="navbar-nav_button" href="#" style="margin-right: 25px">로그인</a>
        
                    <a class="navbar-nav_button" href="#" >회원가입</a>
                </div>

            </div>
        </nav>
        
    </div>

    <div class="banner" style="background-image: url('assets/images/banner.png');">

        <div class="container banner_container">
            <p class='banner_container_title'>
                <span class="block">
                    가드시그니처로
                </span>
                온라인 계약 하세요.</p>

            <p class="banner_container_text">
                <span class="block">비즈니스 성공을 위한 첫 걸음을 가드 시그니처와 </span>
                <span class="block">함께 시작하세요. 모든 계약을 쉽고 간단하게 처리할 수 있고,</span>
                <span>온라인으로 빠르게 해결할 수 있습니다.</span>
            </p>
           
        </div> 
        <div class="container banner_textButton"  >
            <p>
                지금 확인하기
            </p>
            <div class="banner_text_Button">
                <span class="fas fa-chevron-right" style="font-size: 20px;"></span>
            </div>
            
        </div> 
    </div>

    <div  class="easyAndQuick">
        <div class="container">
            <div class="row">
                 <div class="col-sm-12 col-md-3">
                     <p class="easyAndQuick_textLeft">Easy and <br> quick</p>
                 </div>
                 <div class="col-sm-12 col-md-9">
                     <p class="easyAndQuick_textRight" style="line-height: 32px;">
                         <span class="block">가드 시그니처에서는 복잡한 절차를 거치지 않고 수월하게 계약을 진행할 수 있습니다. 준비해둔 계약 문서를 곧바로 업로드하고,</span>
                         <span class="block">서명을 요청하세요. 상대방도 별도의 회원가입이나 복잡한 인증 과정없이 서명이 가능합니다.</span>
                         계약이 진행되는 모든 과정을 효과적으로 체크할 수 있고, 언제 어디서든 5분이면 계약이 완료됩니다.
                     </p>
                     <p class="easyAndQuick_textRight">가드 시그니처와 함께 빠르고 신속하게 상대방과의 계약을 체결하고 관리하세요.</p>
                 </div>
            </div>
     
         </div>
    </div>

    <div class="fiveTitle">
        <p class="font40px">5분 만에 끝내는 계약 업무</p>
        <p class="font18px">계약서 파일을 업로드하여 서명을 요청해 보세요.</p>
        <p class="font18px">상대방은 회원가입 없이 이메일, 카카오톡 링크를 통해 서명할 수 있습니다.</p>
        <p class="font18px">언제 어디서든 5분만에 계약을 체결해 보세요.</p>

        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                        <img src="assets/images/e-upload_icon_1.png">
                        <div style="margin-top: 53px;">
                            <p class="font24px" >업로드하기</p>
                            <p class="font18px">
                                <span class="block">필요한 계약서 파일을</span>
                                업로드합니다.
                            </p>
                          
                        </div>
                </div>
                <div class="col-md-6  col-lg-3">
                    <img src="assets/images/e-upload_icon_2.png">
                    <div style="margin-top: 53px;">
                        <p  class="font24px">서명 요청하기</p>
                        <p class="font18px">
                            <span class="block">업로드한 계약서 파일에</span>
                            서명 요청을 하세요.
                        </p>
                      
                    </div>
                </div>
                <div class="col-md-6  col-lg-3">
                    <img src="assets/images/e-upload_icon_3.png">
                    <div style="margin-top: 53px;">
                        <p class="font24px" >서명 입력하기</p>
                        <p class="font18px" >
                            <span class="block">상대방이 간단한 절차를 통해</span>
                            서명할 수 있습니다.
                        </p>
                      
                    </div>
                </div>
                <div class="col-md-6  col-lg-3">
                    <img src="assets/images/e-upload_icon_4.png">
                    <div style="margin-top: 53px;">
                        <p class="font24px" >계약 완료</p>
                        <p class="font18px">
                            <span class="block">언제 어디서든</span>
                            5분 만에 계약 완료!
                        </p>
                      
                    </div>
                </div>
    
            </div>
        </div>

    </div>

    <div class="divCarousel">
            <p>
                <span class="block">짧고 간단한 절차</span>
                지금 직접 확인해보세요
            </p>

            <div id="carouselExampleIndicators" class="carousel slide container" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button class="carousel-indicators_li" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"
                  style="width: 15px;height: 15px;border-radius: 50%;background-color: gray;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="width: 15px;height: 15px;border-radius: 50%;background-color: gray;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="width: 15px;height: 15px;border-radius: 50%;background-color: gray;"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/images/tablet/Main_table.png" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                  <img src="assets/images/tablet/Main_table_x.jpg.png" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                  <img src="assets/images/tablet/Main_table_x1.jpg.png" class="d-block w-100" alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            
            <button class="divCarousel_button">
                <span  class="divCarousel_button_text">
                    전자계약 체험하기
                </span>
                <span class="fas fa-chevron-right divCarousel_button_arrow" ></span>
            </button>

    </div>


    <div class="sixIcon">
            <p class="font40px">다양한 계약서에 필수적 사용</p>
            <p class="font18px"style="margin-bottom: 100px;"> 
                <span class="block">근로 계약서, 각종 동의서, 입점 계약서, 가맹 계약서,</span>
                <span class="block">용역 계약서, 공급 계약서 이외에도</span>
                사용 가능한 계약서를 가드 시그니처와 함께 확인해보세요.
            </p>
            <div class="container" style="margin-bottom: 60px;">
                <div class="row">
                    <div class="col-xl-6 sixIcon_container_item sixIcon_item" >
                        <div class="row sixIcon_item_row">
                               <div class="col-11">
                                    <div class="sixIcon_item_row_image" >
                                        <img src="assets/images/e-contract_icon_1.png">
                                    </div>
                                    <div class="sixIcon_item_row_div">
                                        <p style="margin-bottom: 0;font-size: 24px;font-weight: 500">근로 계약서</p>
                                        <p class="font16px" style="margin-bottom: 0">근로자가 취업 후 필요로 하는</p>
                                        <p class="font16px" style="margin-bottom: 0">근로 계약서, 연봉 계약서 등</p>
                                    </div>
                               </div>
                               <span class="fas fa-chevron-right col-1 sixIcon_item_row_span"></span>
                        </div>
                   </div>

                   <div class="col-xl-6" style="padding:1% 2%">
                        <div class="row" style="border: 1px solid #d4d4d4;padding: 25px 35px 35px 35px;align-items: center;">
                            <div class="col-11">
                                    <div style="float: left;margin-right: 29px;padding-top: 10px;">
                                        <img src="assets/images/-e-contract_icon_2.png">
                                    </div>
                                    <div style="text-align: left;float: left;padding-top: 10px;">
                                        <p style="margin-bottom: 0;font-size: 24px;font-weight: 500">각종 동의서</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">용도에 따라 필요한</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">동의서, 확인서, 신청서 등</p>
                                    </div>
                            </div>
                            <span class="fas fa-chevron-right col-1" style="font-size: 38px;color: #d4d4d4;padding-top: 10px;"></span>
                        </div>
                    </div>

                    <div class="col-xl-6" style="padding:1% 2%">
                        <div class="row" style="border: 1px solid #d4d4d4;padding: 25px 35px 35px 35px;align-items: center;">
                            <div class="col-11">
                                    <div style="float: left;margin-right: 29px;padding-top: 10px;">
                                        <img src="assets/images/-e-contract_icon_3.png">
                                    </div>
                                    <div style="text-align: left;float: left;padding-top: 10px;">
                                        <p style="margin-bottom: 0;font-size: 24px;font-weight: 500">입점 계약서</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">입점 등을 위한 계약 내용을 적은</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">쇼핑몰, 사무실 입점 계약서 등</p>
                                    </div>
                            </div>
                            <span class="fas fa-chevron-right col-1" style="font-size: 38px;color: #d4d4d4;padding-top: 10px;"></span>
                        </div>
                    </div>

                    <div class="col-xl-6" style="padding:1% 2%">
                        <div class="row" style="border: 1px solid #d4d4d4;padding: 25px 35px 35px 35px;align-items: center;">
                            <div class="col-11">
                                    <div style="float: left;margin-right: 29px;padding-top: 10px;">
                                        <img src="assets/images/-e-contract_icon_4.png">
                                    </div>
                                    <div style="text-align: left;float: left;padding-top: 10px;">
                                        <p style="margin-bottom: 0;font-size: 24px;font-weight: 500">가맹 계약서</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">가맹과 관련된 계약 체결을 위한</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">가맹 [프랜차이즈], 대리점 계약서 등</p>
                                    </div>
                            </div>
                            <span class="fas fa-chevron-right col-1" style="font-size: 38px;color: #d4d4d4;padding-top: 10px;"></span>
                        </div>
                    </div>

                    <div class="col-xl-6" style="padding:1% 2%">
                        <div class="row" style="border: 1px solid #d4d4d4;padding: 25px 35px 35px 35px;align-items: center;">
                            <div class="col-11">
                                    <div style="float: left;margin-right: 29px;padding-top: 10px;">
                                        <img src="assets/images/-e-contract_icon_5.png">
                                    </div>
                                    <div style="text-align: left;float: left;padding-top: 10px;">
                                        <p style="margin-bottom: 0;font-size: 24px;font-weight: 500">용역 계약서</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">용역 계약과 관련된</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">용역, 외주, 위탁, 아웃소싱 계약서 등</p>
                                    </div>
                            </div>
                            <span class="fas fa-chevron-right col-1" style="font-size: 38px;color: #d4d4d4;padding-top: 10px;"></span>
                        </div>
                    </div>

                    <div class="col-xl-6" style="padding:1% 2%">
                        <div class="row" style="border: 1px solid #d4d4d4;padding: 25px 35px 35px 35px;align-items: center;">
                            <div class="col-11">
                                    <div style="float: left;margin-right: 29px;padding-top: 10px;">
                                        <img src="assets/images/-e-contract_icon_6.png">
                                    </div>
                                    <div style="text-align: left;float: left;padding-top: 10px;">
                                        <p style="margin-bottom: 0;font-size: 24px;font-weight: 500">공급 계약서</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">회사의 물품과 관련된 모든</p>
                                        <p style="margin-bottom: 0;font-size: 16px;font-weight: 400;">공급, 주문, 발주, 납품 계약서 등</p>
                                    </div>
                            </div>
                            <span class="fas fa-chevron-right col-1" style="font-size: 38px;color: #d4d4d4;padding-top: 10px;"></span>
                        </div>
                    </div>
                </div>
            </div>

            <p style="font-size: 18px; font-weight: 400;">그 외 사용가능한 계약서가 궁금하신가요?</p>
            <button  style="color: white;background-color: #333333;border-radius: 30px;height: 55px;width: 240px;">
                <span  style="float: left;padding-left: 8%; font-size: 16px;">
                    더 살펴보기
                </span>
                <span class="fas fa-chevron-right" style="font-size: 20px;color: #d4d4d4;float: right;padding-right: 8%;"></span>
            </button>

    </div>

    <div style="text-align: center;padding-top: 6.25%;padding-bottom: 6.25%;color: white; background-color: #157eff;">
        <p style="font-size: 18px;font-weight: 400">지금 바로 시작하세요!</p>
        <p style="font-size: 40px;font-weight: 400;padding-bottom: 50px;">
            <span style="display: block;">설명이 필요 없는 간단한 계약 과정,</span>
            직접 경험해보세요!
        </p>
        <button  style="color: white;background-color: transparent;border-radius: 30px;height: 55px;width: 240px;border-color: white;">
            <span  style="float: left;padding-left: 8%; font-size: 16px;">
                더 살펴보기
            </span>
            <span class="fas fa-chevron-right" style="font-size: 20px;color: #d4d4d4;float: right;padding-right: 8%;"></span>
        </button>
    </div>

    <div style="text-align: center;padding-top: 6.25%;padding-bottom: 6.25%;background-color: #f4f5f8;">
            <p  style="font-size: 40px;font-weight: 400;margin-bottom: 40px;">
                안전한 안심 제도
            </p>

            <p style="font-size: 18px;font-weight: 400;margin-bottom: 80px;">
                <span style="display: block;">가드 시그니처는 [전자문서및전자거래기본법 제4조 제1항]과</span>
                [전자서명법 제3조 제3항]에 따라 확실한 법적효력을 갖는 전자계약 서비스 입니다.
            </p>

            <div class="container">
                <div class="row">
                        <div class="col-md-12 col-lg-4" style="margin-top: 2%;">
                            <div class="card" >
                                <img class="card-img-top" src="assets/images/-e-img-1.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                <p  style="font-size: 24px;font-weight:700;text-align: left;margin-top: 30px;margin-bottom: 59px;">
                                    <span style="display: block;">법적 효력</span>
                                    자세히 알아보기
                                </p>
                                <p style="text-align: left;color: #d4d4d4;margin-bottom:0">
                                    MORE VIEW
                                    <span class="fas fa-arrow-right" style="font-size: 20px;float: right;"></span>
                                </p>
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4" style="margin-top: 2%;">
                            <div class="card" >
                                <img class="card-img-top" src="assets/images/-e-img-2.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <p  style="font-size: 24px;font-weight:700;text-align: left;margin-top: 30px;margin-bottom: 59px;">
                                        <span style="display: block;">서비스 보안</span>
                                        자세히 알아보기
                                    </p>
                                    <p style="text-align: left;color: #d4d4d4;margin-bottom:0">
                                        MORE VIEW
                                        <span class="fas fa-arrow-right" style="font-size: 20px;float: right;"></span>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4" style="margin-top: 2%;">
                            <div class="card" >
                                <img class="card-img-top" src="assets/images/-e-img-3.png" alt="Card image" style="width:100%">
                                <div class="card-body">
                                    <p  style="font-size: 24px;font-weight:700;text-align: left;margin-top: 30px;margin-bottom: 59px;">
                                        <span style="display: block;">위변조 검증</span>
                                        자세히 알아보기
                                    </p>
                                    <p style="text-align: left;color: #d4d4d4;margin-bottom:0">
                                        MORE VIEW
                                        <span class="fas fa-arrow-right" style="font-size: 20px;float: right;"></span>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>

    <div style="text-align: center;margin-top: 6.25%;margin-bottom: 6.25%">
                <p style="font-size: 40px;font-weight: 400;margin-bottom:29px;">
                    많은 우수 기업과 함께 하고 있습니다.
                </p>

                <p style="font-size: 18px;font-weight: 400;margin-bottom: 58px;">
                    가드 시그니처를 믿고 신뢰하는 고객사들이 있습니다.
                </p>

                <div class="container">
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <img src="assets/images/-e-cooperativelogo-01.png" alt="" style="width: 100%;">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <img src="assets/images/-e-cooperativelogo-02.png" alt="" style="width: 100%;">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <img src="assets/images/-e-cooperativelogo-03.png" alt="" style="width: 100%;">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <img src="assets/images/-e-cooperativelogo-04.png" alt="" style="width: 100%;">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <img src="assets/images/-e-cooperativelogo-05.png" alt="" style="width: 100%;">
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                            <img src="assets/images/-e-cooperativelogo-06.png" alt="" style="width: 100%;">
                        </div>
                    </div>
                </div>
    </div>

    <div style="text-align: center;padding-top: 6.25%;padding-bottom: 6.25%; background-color: #f4f5f8;">
            <p style="font-size: 40px; font-weight: 400; margin-bottom: 39px;">가드 시그니처를 선택하는 이유</p>
            <p style="font-size: 18px;font-weight: 400; margin-bottom: 79px;"> 
                <span style="display: block;">많은 기업들이 가드 시그니처를 선택하는 이유,</span>
                아래 버튼을 눌러 상세한 정보를 알아보세요.
            </p>
            <div class="container" >
                <div class="row">

                    <div class="col-xl-3" style="text-align: left;margin-top: 2%;">
                         <div style="margin-bottom: 53px;">
                            <img src="assets/images/-e-reason_icon_1.png" style="margin-bottom: 24px;">
                            <p style="font-size: 24px; font-weight: 400">
                                쉽고 편리하게
                            </p>
                            <p style="font-size: 18px; font-weight: 400;">
                                <span style="display: block;">
                                    번거로운 절차 없이 누구나
                                </span>
                                빠르게 계약을 체결할 수 있습니다.
                            </p>
                         </div>

                         <div style="margin-bottom: 53px;">
                            <img src="assets/images/-e-reason_icon_2.png" style="margin-bottom: 24px;">
                            <p style="font-size: 24px; font-weight: 400;opacity: 30%;">
                                안전한 보안
                            </p>
                            <p style="font-size: 18px; font-weight: 400;opacity: 30%;">
                                <span style="display: block;">
                                    데이터는 암호화되어 전송되고
                                </span>
                                안전한 곳에 저장됩니다.
                            </p>
                         </div>

                         <div >
                            <img src="assets/images/-e-reason_icon_3.png" style="margin-bottom: 24px;">
                            <p style="font-size: 24px; font-weight: 400;opacity: 30%;">
                                다양한 파일형식
                            </p>
                            <p style="font-size: 18px; font-weight: 400;opacity: 30%;margin-bottom: 0;">
                                <span style="display: block;">
                                    한글, 오피스부터 PDF, JPG와
                                </span>
                                같은 이미지 파일도 변환없이 지원
                            </p>
                         </div>

                    </div>

                    
                    <div class="col-xl-6" style="margin-top: 2%;">
                        <img src="assets/images/-e-reason_img_1.png" alt="" style="width: 100%;height: 100%;">
                    </div>

                    <div class="col-xl-3" style="text-align: right;margin-top: 2%;">
                        <div style="margin-bottom: 53px;">
                            <img src="assets/images/-e-reason_icon_4.png" style="margin-bottom: 24px;">
                            <p style="font-size: 24px; font-weight: 400;opacity: 30%;">
                                간단한 본인인증
                            </p>
                            <p style="font-size: 18px; font-weight: 400;opacity: 30%;">
                                <span style="display: block;">
                                    공인인증서와 ActiveX없이도
                                </span>
                                본인인증을 할 수 있습니다.
                            </p>
                         </div>

                         <div style="margin-bottom: 53px;">
                            <img src="assets/images/-e-reason_icon_5.png" style="margin-bottom: 24px;">
                            <p style="font-size: 24px; font-weight: 400;opacity: 30%;">
                                효율적인 작업
                            </p>
                            <p style="font-size: 18px; font-weight: 400;opacity: 30%;">
                                <span style="display: block;">
                                    자주 사용하는 문서들을 저장하고
                                </span>
                                불러와 작업할 수 있습니다.
                            </p>
                         </div>

                         <div >
                            <img src="assets/images/-e-reason_icon_6.png" style="margin-bottom: 24px;">
                            <p style="font-size: 24px; font-weight: 400;opacity: 30%;">
                                계약서 관리
                            </p>
                            <p style="font-size: 18px; font-weight: 400;opacity: 30%;margin-bottom: 0;">
                                <span style="display: block;">
                                    관리가 필요한 문서를 한 눈에 보고
                                </span>
                                체계적으로 관리할 수 있습니다.
                            </p>
                         </div>
                    </div>
                </div>

            </div>

            <button  style="color: white;background-color: #333333;border-radius: 30px;height: 55px;width: 240px; margin-top: 30px;">
                <span  style="float: left;padding-left: 8%; font-size: 16px;">
                    가이드 다운로드
                </span>
                <span class="fas fa-chevron-right" style="font-size: 20px;color: #d4d4d4;float: right;padding-right: 8%;"></span>
            </button>

    </div>

    <div class="container" style="margin-top: 60px;margin-bottom: 90px;">
            <div class="row">
                <div class="col-lg-10" >
                    <p>
                        <span style="padding-right:50px"> 이용약관   </span>
                        <span style="padding-right:50px"> 개인정보처리방침 </span>
                        고객센터       
                    </p>
        
                    <p style="opacity: 30%;">
                        <span style="display: block;">
                            (주) 가드시그니처 ｜ 대표자 : 홍길동 ｜ 사업자 등록번호 : 356-00-00000
                        </span>
                        <span style="display: block;">
                            이메일 : test0101@guardsignature.co.kr｜ FAX : 070-0000-0000
                        </span>
                        서울특별시 강남구 도산대로 8길 17 2층 
                    </p>
                    <p style="opacity: 30%;">
                        Copyright© GUARDSIGNATURE All rights reserved.
                    </p>
                </div>
        
                <div class="col-lg-2">
                    <img src="assets/images/-e-sns_icon_1.png" alt="" style="padding-right: 20px;">
                    <img src="assets/images/-e-sns_icon_2.png" alt="" style="padding-right: 20px;">
                    <img src="assets/images/-e-sns_icon_3.png" alt="" style="padding-right: 20px;">
                </div>

            </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    
</body>

</html>